<h1>Pages#home</h1>
<p>This is the home page of this rails blog</p>

<%= link_to 'Blog page', posts_path, class: "btn btn-primary"%>
<%= link_to 'About page', about_path, class: "btn btn-secondary" %>