<h1>
  <%= @user.name&.capitalize %>
</h1>
<h6>
  <%= pluralize(@user.views, "view") %>
</h6>

<div data-controller="user">
  <%= render 'user/profile_tabs' %>
  <%= render 'user/profile_tabs_content', posts: @posts %>
</div>
