<h1>
  <%= @user.name&.capitalize %>
</h1>
<h6>
  <%= pluralize(@user.views, "view") %>
</h6>

<div data-controller="user">
  <%= render 'user/profile_tabs' %>

  <div data-user-target="userPosts">
    <%= render 'posts/posts', posts: @posts %>
  </div>

  <div data-user-target="userComments" class="d-none">
    <p>TODO: user comments</p>
  </div>
</div>
