<h1>
  <%= @user.name&.capitalize %>
</h1>
<h6>
  <%= pluralize(@user.views, "view") %>
</h6>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Comments</a>
  </li>
</ul>

<div id="user_posts">
  <%= render 'posts/posts', posts: @posts %>
</div>
