<h1>Posts</h1>

<div class="container">
  <%= search_form_for @query, class: 'mb-3' do |f| %>
    <%= f.search_field :title_cont, class: 'form-control', placeholder: 'Search posts by title' %>
  <% end %>

  <%= render 'posts/posts', posts: @posts %>
  <%= render 'posts/pagination_actions' %>
</div>
