<%= render @post %>

<div class="mt-5">
  <h4>Comments</h4>
  <hr />
</div>

<div class="container">
  <%= render 'comments/make_comment', post: @post %>

  <% @comments.each do |comment| %>
    <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
</div>
